body {      /*body van site met margin 0 en achtergrond*/
    margin: 0;
    background-color: #d8dad3;
}
.contact1 {    /*body van contact met background image met margin 0*/
    background-image: url(fotogebouw.png);
    margin: 0;
}
header {      /*header met background color en kleur van tekst padding 1px in de box met text in het center*/
    background-color: #566246;
    color: #a4c2a5;
    text-align: center;
    padding: 1px;
}
nav { /*kleur en padding van de navigatie balk*/
    background-color: #f1f2eb ;
    padding: 5px;
}
nav ul {  /*de kleuren en boxen en de locatie van ul in de nav zonder . ervoor*/
    justify-content: center;
    display: flex;
    padding: 1;
    gap: 35px;
    list-style-type: none;
}
nav ul li a {  /*de tekst van de nav ul*/
    color: #4a4a48;
    text-decoration: none;
    padding: 10px;
}
    nav ul li a:hover {   /*als je met je muis er over heen gaat dat de ul in de nav deze background kleur geeft*/
        background-color: #a4c2a5;
    }
    #klik {   /*zodra je op een ul hebt gelikt en op die pagina zit zal deze ul deze kleur achtergrond hebben*/
      	background-color: #566246 ;
        color: #a4c2a5;
      }
.begin{   /*box begin met wijdte van 100% met 1px zwarte border en achtergrond kleur*/
    width: 100%;
    border: 1px solid black;
    background-color: #a4c2a5;
}
.cookies1{  /*box van cookies met tekst in het midden met grote grote van de letter en andere lettertype met een margin*/
    text-align: center;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
}
.cookies1 img{ /*foto met breedte 12,5% en border van solid black*/
    border: solid black;
    width: 12.5%;
}
.cookies2{ /*box van cookies met tekst in het midden met grote grote van de letter en andere lettertype met een margin*/
    text-align: center;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5%;
}
.cookies3{ /*box van cookies met tekst in het midden met grote grote van de letter en andere lettertype met een margin*/
    text-align: center;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5%;
}
.cookies4{ /*box van cookies met tekst in het midden met grote grote van de letter en andere lettertype met een margin*/
    text-align: center;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5%;
    justify-content: space-between;
}
.flexrow {
    justify-content: space-around;
    display:flex;
}
.home {
    text-align: center;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
}
.home img {
    width: 100%;
}
.main{
    text-align: center;
    width: 40%;
    border: 1px solid black;
    background-color: #a4c2a5;
}
#hfd {
    font-family: Arial, Helvetica, sans-serif;
}
.langetekst {
    margin:5px;
    font-family: Arial, Helvetica, sans-serif;
}
.Kortetekst{
    font-family:cursive;
    font-weight: 550;
}
.duimpje {
    text-align: center;
    width: 19.321%;
    top: 23%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
}
.duimpje img {
    width: 100%;
}
section {
    display:flex;
    justify-content: space-between;
}
main {
    width: 70%;
    padding: 20px;
}
aside{
    width: 25%;
    padding: 20px;
    background-color:#a4c2a5;
}
.flexrow2 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.werken1 {
    text-align: center;
    width: 35%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
    justify-content: center;
    margin: 20px;
}

.werken7 {
text-align: center;
font-size: 125%;
}
.werken8 {
text-align: center;
font-size: 125%;
}
.ster {
    font-size: 53%;
}
.diensten1 {
    width: 72.4%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
    margin : 20px;   
}
.personeel {
    justify-content: center;
    text-align: center;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
    margin: 20px;
    padding-bottom: 4%
}
.personeel img {
      border-radius: 50%;
      width: 35%;
}
.personeel2 {
    justify-content: center;
    text-align: center;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
    margin: 20px;
}
.personeel2 img{
    border-radius: 50%;
    width: 45%;

}
.personeel3 {
    text-align: center;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
    margin: 20px;
    padding-bottom: 4%;
}
.personeel3 img{
    border-radius: 50%;
    width: 40%;
}
.verwijzing{
    text-align: center;
    padding-top: 3%;
}
.voet{
        background-color: #566246;
        color:#a4c2a5;
        text-align: center;
        font-size: 15px;
        padding: 5px;
        position: fixed;
        bottom: 0;
        width: 100%;
}
.linkje{
    color: #000000;
    text-decoration: none;
    font-family:cursive;
    font-weight: 550;
}
footer {
        background-color: #566246;
        color:#a4c2a5;
        text-align: center;
        font-size: 15px;
        padding: 5px;
}