body {      /*body van site met margin 0 en achtergrond*/
    margin: 0;
    background-color: #d8dad3;
}
.contact1 {    /*body van contact met background image met margin 0*/
    background-image: url(fotogebouw.png);
    margin: 0;
}
header {      /*header met background color en kleur van tekst padding 1px in de box met text in het center*/
    background-color: #566246;
    color: #a4c2a5;
    text-align: center;
    padding: 1px;
}
nav { /*kleur en padding van de navigatie balk*/
    background-color: #f1f2eb ;
    padding: 5px;
}
nav ul {  /*de kleuren en boxen en de locatie van ul in de nav zonder . ervoor*/
    justify-content: center;
    display: flex;
    padding: 1;
    gap: 35px;
    list-style-type: none;
}
nav ul li a {  /*de tekst van de nav ul*/
    color: #4a4a48;
    text-decoration: none;
    padding: 10px;
}
    nav ul li a:hover {   /*als je met je muis er over heen gaat dat de ul in de nav deze background kleur geeft*/
        background-color: #a4c2a5;
    }
    #klik {   /*zodra je op een ul hebt gelikt en op die pagina zit zal deze ul deze kleur achtergrond hebben*/
      	background-color: #566246 ;
        color: #a4c2a5;
      }
.begin{   /*box begin met wijdte van 100% met 1px zwarte border en achtergrond kleur*/
    width: 100%;
    border: 1px solid black;
    background-color: #a4c2a5;
}
.cookies1{  /*box van cookies met tekst in het midden met grote grote van de letter en andere lettertype met een margin*/
    text-align: center;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
}
.cookies1 img{ /*foto met breedte 12,5% en border van solid black*/
    border: solid black;
    width: 12.5%;
}
.cookies2{ /*box van cookies met tekst in het midden met grote grote van de letter en andere lettertype met een margin*/
    text-align: center;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5%;
}
.cookies3{ /*box van cookies met tekst in het midden met grote grote van de letter en andere lettertype met een margin*/
    text-align: center;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5%;
}
.cookies4{ /*box van cookies met tekst in het midden met grote grote van de letter en andere lettertype met een margin*/
    text-align: center;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2.5%;
    justify-content: space-between;
}
.flexrow {  /*flexrow met spacew around de boxen een een display flex*/
    justify-content: space-around;
    display:flex;
}
.home { /*box met tekst in de center met een breedte van 20% border 1 pixel van zwart andere lettertype en achtergrond kleur*/
    text-align: center;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
}
.home img {  /*groote van foto in box 100% van de box*/
    width: 100%;
}
.main{  /*box met tekst in het midden breedete van 40% border van 1 px zwart en achtergrond kleur*/
    text-align: center;
    width: 40%;
    border: 1px solid black;
    background-color: #a4c2a5;
}
#hfd { /*tekst met een ander letter type*/
    font-family: Arial, Helvetica, sans-serif;
}
.langetekst {  /*class van tekst met andere lettertype en margin van 5px*/
    margin:5px;
    font-family: Arial, Helvetica, sans-serif;
}
.Kortetekst{  /*een dik gedrukte letters met andere lettertype*/
    font-family:cursive;
    font-weight: 550;
}
.duimpje {  /*box met text in de centre met een breedte van 19.321% 23% van de top met een border van 1px zwart en achtergrondkleur en lettertype*/
    text-align: center;
    width: 19.321%;
    top: 23%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
}
.duimpje img { /*foto met 100% breedte van de box*/
    width: 100%;
}
section { /*verdeelte de secties met ruimte er tussen en een display flex*/
    display:flex;
    justify-content: space-between;
}
main {  /*main gedeelte van de sectie met een breedte van 70% en een 20px padding*/
    width: 70%;
    padding: 20px;
}
aside{ /*rechter kolom van de sectie met een breedte van 25% en een padding van 20px met een baclground color*/
    width: 25%; 
    padding: 20px;
    background-color:#a4c2a5;
}
.flexrow2 { /*flexrow met de content is de midden een flex displat een een flex wrap*/
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.werken1 { /*box met een breedte van 35% met de tekst in de center andere lettertype border van 1px andere achtergrond en margin van 20px*/
    text-align: center;
    width: 35%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
    justify-content: center;
    margin: 20px;
}

.werken7 { /*box met een 125% grote van letters met de tekst in de center*/
text-align: center;
font-size: 125%;
}
.werken8 { /*box waarin de form staat met de tekst in de center een 125% letter type grote*/
text-align: center;
font-size: 125%;
}
.ster {  /*grote van letters 53%*/
    font-size: 53%;
}
.diensten1 { /*box van 72.4% groote met tekst in de center andere lettertype 1px border zwart andere achtergrond kleur en een margin van 20px*/
    width: 72.4%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
    margin : 20px;   
}
.personeel { /*tekst in de midden met een breedte van 30% andere lettertype border zwart 1 px padding beneden 4% in de box margin van 20px en justify content 20px*/
    justify-content: center;
    text-align: center;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
    margin: 20px;
    padding-bottom: 4%
}
.personeel img { /*foto word rond met een breedte van 35% van de box*/
      border-radius: 50%;
      width: 35%;
}
.personeel2 { /*tekst in de midden met een breedte van 30% andere lettertype border zwart 1 px margin van 20px en justify content 20px*/
    justify-content: center;
    text-align: center;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
    margin: 20px;
}
.personeel2 img{ /*foto word rond breedte van 45%*/
    border-radius: 50%;
    width: 45%;

}
.personeel3 { /*tekst in de midden met een breedte van 30% andere lettertype border zwart 1 px padding beneden 4% in de box margin van 20px en justify content 20px*/
    text-align: center;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    background-color: #a4c2a5;
    margin: 20px;
    padding-bottom: 4%;
}
.personeel3 img{ /*foto word rond breedte van 40%*/
    border-radius: 50%;
    width: 40%;
}
.verwijzing{ /*tekst gaat in het midden en padding boven van 3%*/
    text-align: center;
    padding-top: 3%;
}
.voet{ /*achtergrond kleur anders teskt kleur anders tekst in het midden van een groote van 15px position van de footer is fixed beneden op 100% breedte van de pagina*/
        background-color: #566246;
        color:#a4c2a5;
        text-align: center;
        font-size: 15px;
        padding: 5px;
        position: fixed;
        bottom: 0;
        width: 100%;
}
.linkje{ /*tekstkleur zwart zonder streep er onder andere lettertype en dikgedrukt*/
    color: #000000;
    text-decoration: none;
    font-family:cursive;
    font-weight: 550;
}
footer { /*achtergrond kleur andere letterkleur tekst in het midden lettergrote 15px en een padding van 5px*/
        background-color: #566246;
        color:#a4c2a5;
        text-align: center;
        font-size: 15px;
        padding: 5px;
}